h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 1rem auto;
}

.reservations-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservations-cont h3 {
  margin-bottom: 20px;
}

.reservations-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 90%;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  margin-bottom: 1rem;
}

.reservations-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 8px;
  margin: auto;
  box-shadow: 10px 10px 10px 0px rgba(99,99,99,0.5);
}

.reservation-image,
.reservation-location {
  margin-top: 10px;
}

.reservations-item:hover {
  background-color: var(--bg-green);
}

.reservations-item:hover .reservation-image {
  border: 2px solid white;
}

.houses-name {
  font-size: 16px;
  font-weight: 600;
}

.houses-name:hover {
  color: blue;
  cursor: pointer;
}

.reservation-image {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.delete-btn {
  margin: 10px 0 0;
  padding: 2px 5px;
  border-radius: 8px;
  background-color: red;
  color: white;
}

.delete-btn .houses-name {
  cursor: pointer;
}

.delete-btn:hover {
  background-color: white;
  color: red;
  font-weight: 600;
}

@media (max-width: 375px) {
  .reservations-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .reservations-list {
    grid-template-columns: 1fr 1fr;
  }
}
