.heading {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.heading h3 {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: bold;
}

.heading small {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: grey;
}

.houses-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.house {
  width: 250px;
  height: 80vh;
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* background-color: red */
}

.house p {
  color: grey;
}

.house-image-container {
  width: 100%;
  height: 70%;
}

.house-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.house-name {
  margin: 10px;
}

.divider {
  border-bottom: 1px dotted black;
  height: 2px;
  width: 50px;
  margin-bottom: 10px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  margin-top: 15px;
}

.social-icon {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid rgb(168, 165, 165);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon > * {
  color: rgb(168, 165, 165);
}

@media (min-width: 768px) {
  .heading {
    margin: 40px 0 20px 0;
  }

  /* .houses-container {
    height: 95vh;
    overflow: hidden;
  }

  .houses-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background-color: pink;
    margin-left: 10%;
  }

  .house {
    height: 60vh;
    width: 250px;
    margin-right: 50px;
  }


.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f9f9f9;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  color: #555;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: 5px;
}

.scroll-button.right {
  right: 5px;
}

.horizontal-screen-view {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.screen {
  flex: 0 0 100%;
  height: 100%;
  padding: 20px;
  background-color: #f9f9f9;
}

.scroll-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-buttons button {
  margin: 0 10px;
} */

  .horizontal-screen-view {
    position: relative;
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
  }

  .houses-list {
    /* background-color: red; */
    width: 90%;
  }

  .houses-container {
    /* background-color: pink; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .house-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    /* background-color: blue; */
  }

  .house {
    flex: 0 0 280px;
    height: 400px;
    padding: 20px;
    margin-right: 20px;
  }

  .house-image-container {
    width: 260px;
    height: 300px;
  }

  .scroll-buttons {
    position: absolute;
    /* bottom: 20px;
  left: 50%; */
  /* background-color: orange; */
    margin-top: -10%;
    width: 89%;
    display: flex;
    z-index: 1;
    justify-content: space-between;
  }

  .scroll-buttons button {
    background-color: rgb(219, 207, 207);
    width: 60px;
    height: 50px;
    border: none;
  }

  .scroll-buttons button:hover {
    background-color: rgba(204, 255, 0, 1);
  }

  .right-btn{
    border-radius: 30px 0 0 30px;
  }

  .left-btn{
    border-radius: 0 30px 30px 0;
  }
}
