.house-container {
  display: flex;
  flex-direction: column;
  background-color: #98bf11;
  align-items: center;
}

.img-container {
  width: 60%;
  height: 250px;
  background-color: palevioletred;
}

/* img {
  width: 50%;
  height: 50%;
} */

.info-container {
  background-color: aqua;
  width: 60%;
}

.reserve-btn {
  background-color: #98bf11;
}

/* @media (max-width: 768px) {
  .info-container {
    width: 80%;
    margin: 5% auto;
  }
} */

@media (min-width: 768px) {

}
